body {
  font-family: "PT Mono", monospace;
  margin: 0;
  padding: 0;
}

div.calcContainer {
  background-color: #000000;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: calc(1vh * 100);
  margin: 0;
  padding: 0;
  width: 100vw;
}
